<div class="flex flex-col justify-center items-center">

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="mb-6">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">name</label>
      <input ngModel name="name" type="text" id="name" class="block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg " required>
    </div>
    <div class="mb-6">
      <label for="price" class="block mb-2 text-sm font-medium text-gray-900 ">price</label>
      <input ngModel name="price" type="text" id="price" class="block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg " required>
    </div>
    <div class="mb-6">
      <label for="psc" class="block mb-2 text-sm font-medium text-gray-900 ">psc</label>
      <input ngModel  name="psc" type="text" id="psc" class="block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg " required>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>

</div>
