<div class="p-5 bg-gray-200 border-gray-900 border-2 m-2 rounded-md">
  <div class="flex space-x-3">
    <p class="font-bold">product id </p>
    <p>{{myProduct.id}} </p>
  </div>
  <div class="flex space-x-3">
    <p class="font-bold">product name</p>
    <p>{{myProduct.name}} </p>
  </div>
  <div class="flex space-x-3">
    <p class="font-bold">product price </p>
    <p>{{myProduct.price}} </p>
  </div>
  <div class="flex space-x-3">
    <p class="font-bold">product psc</p>
    <p>{{myProduct.psc}} </p>
  </div>
</div>
